<div class="index">
  <% spots.each do |spot| %>
    <div class="index__item">
      
      <div class="image">
        <ul class="slider image__box">
          <% spot.spot_images.each do |image| %>
            <li class="image__item">
              <%=link_to spot_path(spot) do %>
                <%= image_tag image, size: "340x340" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      
    </div>
  <% end %>
</div>
