<h2 class="heading">本当に退会しますか？</h2>
<p class="heading__text">退会する場合は、「退会する」をクリックしてください。</p>
<div class="heading__text">
  <%= link_to "退会する", withdraw_end_users_path, method: :patch %>
  <%= link_to "退会しない", spots_path %>
</div>