<h2 class="heading">Serch for<%= @content %></h2>
<% if @records.present? %>
  <%= render "public/spots/index", spots: @records %>
  <div class="paginate">
    <%= paginate @records %>
  </div>
<% else %>
  <table class="table">
    <tr>
      <td>検索結果はありません</td>
    </tr>
    <tr>
      <td class="table__text">
        タグ名を検索するときは#を付けて検索してください<br>
        複数検索の場合は空白区切りで入力してください（例）「世田谷区　#カフェ　#駐車場あり」
      </td>
    </tr>
  </table>
<% end %>