<%= link_to "https://maps.google.co.jp/maps?q={lat},{lng}", id: "link", class: "show__link" do %>
  <span class="btn btn__small--green">Google Map</span>
<% end %>

<script>
var link = document.getElementById('link');
var oldHref = link.getAttribute('href');
var newHref = oldHref.replace('{lat},{lng}', '<%= spot.latitude %>, <%= spot.longitude %>');
link.setAttribute('href', newHref);
</script>
