<h2 class="heading">comments</h2>

<div id="comments-<%= @spot.id %>">
  <%= render "public/comments/comments_index", spot: @spot, comments: @comments %>
</div>

<div class="paginate">
  <%= paginate @comments %>
</div>

<div class="show__link--right">
  <%= link_to "戻る", spot_path(@spot), class: "show__link" %>
</div>