<!--エラー表示-->
<%= render "layouts/error", resource: @spot %>
<% unless @tag === true %>
    <%= render "layouts/error", resource: @tag %>
<% end %>

<h2 class="heading">編集</h2>
<%= form_with model: @spot, url: spot_path, local: true do |f| %>
  <%= render :partial => "form", :locals => {:f => f, :tag_list => @tag_list, :edit_flag => true} %>
<% end %>