.header {
  width: 100%;
  background-color: gray;
  display: flex;
  
  &__logo {
    padding: 20px;
    margin-right: auto;
  }
  
  &__link {
    list-style: none;
    display: flex;

    &--item {
      margin-left: auto;
      padding: 20px;
    }
    
    &--text {
      color: #FFFFEE;
      text-decoration: none;
    }
  }
}

//タブレット縦置きサイズ(768px)以下の際に適用される設定 
@media (max-width: 768px){
  #hm-link {
    position: fixed;
    right: 20px;
    top:20px;
    
  }
  .header {
    display: block;
  }
}

// スマートフォンサイズ（425px）以下の際に適用される設定
@media screen and (max-width: 425px){
  .header {
    display: block;
  }
}