.image {
 
  &__box {
    display: flex;
    overflow-x: auto;
    margin-top: 30px;
    padding: 0;
  }
  &__item {
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// レスポンシブ対応
@media (max-width: 550px){
.image {
  &__item--res {
    width: 330px;
    height: 330px;
  }
 }
}