.index-address {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
 
  &__item {
    max-width: 350px;
    padding: 3px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
  }
}
// レスポンシブ対応
@media (max-width: 1390px){
  .index-address {
    width: 1100px;
  }
}

@media (max-width: 1024px){
  .index-address {
    width: 720px;
  }
}

@media (max-width: 710px){
  .index-address {
    display: block;
    width: 95%;
    &__item {
      margin: 0 auto;
    }
  }
}