.main {
  &__visual {
    width: 100%;
    height: 600px;
    // 仮画像
    background-image: url(main_visual.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  &__logo {
    font-size: 60px;
    color: white;
   padding-top: 200px;
    &--text {
      color: white;
    }
  }
  &__text {
    text-align: center;
    padding: 30px;
  }
}