.show {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;

  &__content {
    width: 100%;
    margin-left: 10px;
  }
  &__item {
    margin-left: 40px;
    margin-top: 20px;
    &--link {
      text-decoration: none;
    }
  }
  &__btn {
    margin: 50px 30px;
  }
  &__image {
    max-width: 500px;
    
    &__slider__image {
      width: 100%;
    }
  }
  
  &__comment {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    &--form {
      width: 30%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #EEEEEE;
    }
    &--index {
      padding: 20px;
    }
  }
  
  &__link {
    text-decoration: none;
  }
}

// レスポンシブ対応
@media (max-width: 920px){
  .show {
    display: block;
    &__image {
      margin: 0 auto;
      width: 95%;
    }
    &__content {
      width: 95%;
      margin: 0 auto;
    }
    &__btn {
      margin-left: auto;
    }
    &__comment {
      width: 95%;
      margin: 0 auto;
      &--form {
        width: 50%;
        margin-left: 10%;
      }
    }
  }
}
// レスポンシブ対応
@media (max-width: 510px){
  .show__item {
    font-size: small;
  }
}