<footer class="footer">
  <p class="footer__text">Copyright © 2022 spot-label All Rights Reserved.</p>
  
  <% if end_user_signed_in? %>
    <div class="footer__link">
      <%= link_to new_contact_path, class: "footer__link" do %>
        <i class="fa-solid fa-envelope footer__icon"></i>お問い合わせ
      <% end %>
    </div>
  <% end %>
</footer>